/* #2c616d
#a0ced8
#042c33
#717c8c
#d1d3e1
#374857
262626 */

@import 'reset.css';

html{
    background-image: url('img/Bg-imeg.jpg');
    background-size: cover;
}
.header{
    background-color: #046f879d;
    border-radius: 15px;
    margin: 0vh;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5),0 10px 3px rgba(0, 0, 0, 0.08);
}
.container{
    margin: 0px,166px;
}
.header-line{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.header-logo{
    background-color: #fcbd7e94;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.header-logo a{
    position: absolute;
    top: 35px;
    left: -7px;
    text-align: center;
    color: #ffff;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.5s linear;
}
.header-logo a:hover{
   color: #c7bbb0;
}
.nav{
    display: flex;
}

.nav a{
    text-align: center;
    color: #ffff;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.5s linear;
}

.nav a:hover{
    color: #2c8474;
}

.down{
    height: 800px;
    width: 500px;
    display: block;
    margin: 38vh;
    padding: 24vh;
    background-color: #ffffff46;
    border-radius: 10px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5), 0 10px 3px rgba(0, 0, 0, 0.08);
}
.card{
    margin: 15px 15px 15px 15px;
    height: 150px;
    width: 500px;
    background-color: #ffffff46;
    border-radius: 10px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5), 0 10px 3px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1205px){
    .header{
        width: 954px;
    }
    .down{
        margin: 7vh;
        padding: 17vh;
    }
}